table {
  border-collapse: collapse;
  width: 100%; 
 
}

th, td {
  border: 1px solid black; 
  padding: 8px; 
  color:grey; 
  text-align: center;
}
.table-container {
  justify-content: center; 
  align-items: center;
  height: 100vh;
}
th {
  padding: 15px;
  width: 200px; 
}