.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  
  .button{
    appearance: none; 
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 8px 12px; 
    font-size: 14px; 
    color: #333;
    outline: none;
    
  }